<gl-dialog
  [title]="dialogTitle"
  [isDisableClose]="true"
  (emitClick)="btnClicked($event)"
>
  <ng-container body>
    <div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
      <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden pt-4">
        <form [formGroup]="form">
          <div class="grid w-full">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="flex flex-col">
                <mat-form-field class="w-full">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</gl-dialog>
