<form [formGroup]="form" class="flex flex-col mt-5">
  <div class="grid w-full">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Processo</mat-label>
          <mat-select formControlName="processNumber">
            <mat-option
              [value]="item.number"
              *ngFor="let item of processWithResources"
            >
              {{ item.name }} / {{ item.number }}
            </mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" (selectionChange)="changeType()">
            <mat-option [value]="type.id" *ngFor="let type of types">{{
              type.label
            }}</mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Subtipo</mat-label>
          <mat-select formControlName="subType">
            <mat-option [value]="opt.id" *ngFor="let opt of subTypes">{{
              opt?.label
            }}</mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
    </div>
    <div
      class="grid grid-cols-2 gap-4"
      [class.md:grid-cols-3]="isDeadline || isAudience ? true : false"
    >
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Responsável</mat-label>
          <mat-select formControlName="manager">
            <mat-option [value]="lawyer.id" *ngFor="let lawyer of laywers">{{
              lawyer.name
            }}</mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-form-field class="w-full">
          <mat-label>Prazo interno</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="internalDeadline"
            readonly
            (dateChange)="getInternErrorMessage('internalDeadline')"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col" *ngIf="isDeadline">
        <mat-form-field class="w-full">
          <mat-label>Prazo fatal</mat-label>
          <input
            matInput
            [matDatepicker]="criticalPicker"
            formControlName="criticalDeadline"
            readonly
            (dateChange)="getInternErrorMessage('criticalDeadline')"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="criticalPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #criticalPicker></mat-datepicker>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col" *ngIf="isAudience">
        <mat-form-field class="w-full">
          <mat-label>Hora</mat-label>
          <input matInput type="time" formControlName="hour" />
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <mat-form-field class="w-full">
          <mat-label>Local</mat-label>
          <input matInput type="text" formControlName="local" />
        </mat-form-field>
      </div>

      <div class="flex flex-col">
        <mat-form-field class="w-full">
          <mat-label>Anotações</mat-label>
          <input matInput type="text" formControlName="note" />
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-end">
    <button
      mat-stroked-button
      type="button"
      [color]="'default'"
      (click)="back()"
    >
      Voltar
    </button>
    <button
      class="ml-4"
      mat-flat-button
      type="button"
      [color]="'primary'"
      [disabled]="!form.valid || isLoading"
      (click)="onSubmit()"
    >
      {{ editId ? 'Editar' : 'Cadastrar' }}
    </button>
  </div>
</form>
