<mat-accordion>
  <mat-expansion-panel [expanded]="isExpandable">
    <mat-expansion-panel-header class="header-center">
      <mat-panel-title class="flex flex-center justify-between">
        <p class="text-primary-600 font-bold">{{ title }}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container
      [ngTemplateOutlet]="isAppendProcessFilter ? appendForm : commonForm"
    ></ng-container>
    <div class="flex items-center justify-end" *ngIf="hasSeachBtn">
      <button
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'"
        (click)="search()"
      >
        Buscar
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #appendForm>
  <append-process-fields></append-process-fields>
</ng-template>

<ng-template #commonForm>
  <common-process-fields (changedForm)="onChangedCommonForm($event)"></common-process-fields>
</ng-template>
