<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
      <!-- Title -->
      <div class="flex items-center justify-between w-full">
        <div>
          <div class="text-3xl font-semibold tracking-tight leading-8">Usuários</div>
          <div class="font-medium tracking-tight text-secondary">Veja todos os usuários do sistema</div>
        </div>
      </div>
      
      <mat-card class="w-25">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{userName}}</mat-card-title>
          <mat-card-subtitle>{{userCore}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      

    </div>
  </div>