<div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
  <header-content
    [titleIcon]="'heroicons_outline:switch-horizontal'"
    [title]="'Migrar meus processos'"
    [desc]="'Possibilidade de migrar meus processos para outros advogados'"
  >
  </header-content>
  <search-process
    [title]="'Filtrar'"
    [isExpandable]="false"
    (emitSearchList)="searchList($event)"
    [searchType]="'process'"
    [displayControls]="['processStatus', 'insideLawyerId', 'rangeDate']"
    [hasFilterBtn]="true">
  </search-process>
  <div class="flex items-center justify-center mt-4 mx-5" *ngIf="migrationTable.selection.hasValue()">
    <button mat-raised-button matSuffix [color]="'primary'" class="w-full" (click)="migrateProcess(migrationTable.selection._selected)">
      <span class="flex items-center gap-2">
        Migrar processos selecionado(s)
        <mat-icon>swap_horiz</mat-icon>
      </span>
    </button>
  </div>
  
  <process-table [hasMigration]="true" #migrationTable [filter]="queryParams"></process-table>
</div>
