<div class="flex flex-col flex-auto min-w-0 sm:m-7">
  <form class="bg-card shadow sm:rounded-2xl overflow-hidden ">
    <mat-horizontal-stepper [linear]="!isEdit" #verticalStepper>
      <mat-step #verticalStepperStep1 [stepControl]="basicForm">
        <ng-template matStepLabel>Informações Básicas</ng-template>
        <lawyer-basic-form></lawyer-basic-form>
      </mat-step>

      <mat-step #verticalStepperStep2 [stepControl]="addressForm">
        <ng-template matStepLabel>Endereço</ng-template>
        <lawyer-address-form></lawyer-address-form>
      </mat-step>

      <mat-step #verticalStepperStep3 [stepControl]="coreForm">
        <ng-template matStepLabel>Núcleo</ng-template>
        <lawyer-core-form></lawyer-core-form>
      </mat-step>

      <mat-step #verticalStepperStep4 [stepControl]="permissionForm">
        <ng-template matStepLabel>Permissão</ng-template>
        <lawyer-permission-form></lawyer-permission-form>
      </mat-step>

      <mat-step #verticalStepperStep5>
        <ng-template matStepLabel>Resumo</ng-template>
        <ng-container *ngIf="isResumeEnable()">
          <lawyer-resume-form [info]="info" [isEdit]="isEdit"></lawyer-resume-form>
        </ng-container>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
