<div
  class="xl:col-span-2 flex flex-col flex-auto overflow-hidden sm:pt-4 min-h-full"
>
  <div class="overflow-x-auto md:mx-0 sm:mx-2 md:px-5">
    <mat-accordion class="m-8" multi>
      <mat-expansion-panel [expanded]="true" [disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-gray-700 ml-3">
            Detalhe do processo
          </mat-panel-title>
          <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-5">
            <mat-icon class="text-gray-700">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog(true)" *ngIf="process.status != 'ACTIVE'">
              <mat-icon>remove_red_eye</mat-icon>
              <span>Visualizar conclusão</span>
            </button>
            <button mat-menu-item (click)="toEdit()">
              <mat-icon>edit</mat-icon>
              <span>Editar processo</span>
            </button>
            <button mat-menu-item (click)="reactived()" *ngIf="process.status != 'ACTIVE'">
              <mat-icon>cached</mat-icon> 
              <span>Reativar processo</span>
            </button>
            <button mat-menu-item (click)="openDialog(false)" *ngIf="process.status == 'ACTIVE'">
              <div class="flex items-center gap-2">
                <mat-icon>check</mat-icon>
                <span>Encerrar processo</span>
              </div>
            </button>
          </mat-menu>
        </mat-expansion-panel-header>
        <p
          class="text-primary-700 font-bold my-5 text-base bg-gray-100 rounded-2xl px-3 py-2"
        >
          Distribuição de processos
        </p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-3 py-2">
          <div>
            <p class="text-gray-900 font-medium">
              Status:
              <span
                class="inline-flex items-center font-bold text-sm px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                [ngClass]="(process.status | stepProgress).cssClass"
              >
                <span class="leading-relaxed whitespace-nowrap">{{
                  (processStatus(process.status) | stepProgress).label
                }}</span>
              </span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Número do processo:
              <span class="font-light">{{
                process.caseNumber
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Número Antigo do Processo:
              <span class="font-light">{{ process.oldCaseNumber }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Origem:
              <span class="font-light">{{ process.Organ.Origin.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Órgão: <span class="font-light">{{ process.Organ.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Número do Órgão:
              <span class="font-light">{{ process?.organNumber ?? '' }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Fase Atual:
              <span class="font-light">{{ process.Phase.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Área do Direito:
              <span class="font-light">{{
                process.LawSubArea.LawArea.name
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Sub-área do Direito:
              <span class="font-light">{{ process.LawSubArea.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              UF:
              <span class="font-light">{{ process.Forum.County.uf }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Comarca:
              <span class="font-light">{{ process.Forum.County.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Foro: <span class="font-light">{{ process.Forum.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Instância: <span class="font-light">{{ process.instance }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Adv. Responsável:
              <span class="font-light">{{ getInsideLawyer(process) }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Assunto:
              <span class="font-light">{{ process.subject.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Tipo de Ação:
              <span class="font-light">{{ process.ActionType.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Objeto:
              <span class="font-light">{{
                process.SubObject.Object.name
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Sub Objeto:
              <span class="font-light">{{ process.SubObject.name }}</span>
            </p>
          </div>
        </div>
        <p
          class="text-primary-700 font-bold my-5 bg-gray-100 rounded-2xl px-3 py-2"
        >
          Dados do cliente e partes
        </p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-3 py-2">
          <div>
            <p class="text-gray-900 font-medium">
              Cliente:
              <span class="font-light">{{
                process.Stakeholder.Client.name
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Parte Interessada:
              <span class="font-light">{{ process.Stakeholder.name }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
               Posição Parte Interessada:
              <span class="font-light">{{ process.stakeholderPosition }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Parte Adversa:
              <span class="font-light">{{
                process.AdverseStakeholder.name
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Tipo:
              <span class="font-light">{{ process.AdverseStakeholder.type }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              CPF/CNPJ Parte Adversa: --MASCARA--
              <span class="font-light">{{
                process.AdverseStakeholder.cpfCnpj
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Telefone Parte Adversa: --MASCARA--
              <span class="font-light">{{
                process.AdverseStakeholder.phone
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Email Parte Adversa:
              <span class="font-light">{{
                process.AdverseStakeholder.email
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Posição Parte Adversa:
              <span class="font-light">{{ process.adversePosition }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              UF OAB Advogado Adverso:
              <span class="font-light">{{getOutsideLawyer(process).ufOab}}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              OAB Advogado Adverso:
              <span class="font-light">{{getOutsideLawyer(process)?.oab}}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Advogado Adverso:
              <span class="font-light">{{ getOutsideLawyer(process)?.name }}</span>
            </p>
          </div>
        </div>
        <p
          class="text-primary-700 font-bold my-5 bg-gray-100 rounded-2xl px-3 py-2"
        >
          Outras informações
        </p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-3 py-2">
          <div>
            <p class="text-gray-900 font-medium">
              Data da distribuição:
              <span class="font-light">{{
                process.distributionDate | date : 'dd/MM/yyyy'
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Data da citação:
              <span class="font-light">{{
                process.quoteDate | date : 'dd/MM/yyyy'
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Valor da causa:
              <span class="font-light">{{
                process.causeValue | currency : 'R$'
              }}</span>
            </p>
          </div>
          <div>
            <p class="text-gray-900 font-medium">
              Breve relato:
              <span class="font-light">{{ process.description }}</span>
            </p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
