<div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
  <header-content
    titleIcon="heroicons_outline:collection"
    [title]="isEdit ? 'Editar Processo' : 'Criar Processo'"
    desc="Formulário para criar ou editar seu processo completo"
    descIcon="heroicons_outline:archive"
    [hasCoreBtn]="false"
  ></header-content>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
    class="xl:col-span-2 flex flex-col flex-auto bg-card shadow sm:rounded-2xl overflow-hidden px-5 py-3 sm:m-5"
    >
    <div class="grid grid-cols-2 md:mx-0 sm:mx-2 md:px-5 mt-5" *ngIf="isEdit">
      <button
        class="md:w-1/4 col-start-2 justify-self-end"
        mat-flat-button
        [color]="'primary'"
        (click)="toDetail()"
      >
        <span>Detalhe do processo</span>
      </button>
    </div>
      <label class="text-primary-600 font-semibold"
        >Distribuição do processo</label
      >
      <mat-checkbox
        formControlName="isCNJ"
        [color]="'primary'"
        style="left: -10px"
        class="mt-4"
      >
        CNJ
      </mat-checkbox>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Fase atual</mat-label>
            <mat-select formControlName="phaseId">
              <mat-option [value]="phase.id" *ngFor="let phase of phases">{{
                phase.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Área do direito</mat-label>
            <mat-select
              formControlName="lawAreaId"
              (selectionChange)="changeLawArea()"
            >
              <mat-option [value]="area.id" *ngFor="let area of lawAreas">{{
                area.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Origem</mat-label>
            <mat-select
              formControlName="originId"
              (selectionChange)="changeOrigin()"
            >
              <mat-option [value]="origin.id" *ngFor="let origin of origins">{{
                origin.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Órgão</mat-label>
            <mat-select
              formControlName="organId"
              (selectionChange)="changeOrgan()"
            >
              <mat-option [value]="organ.id" *ngFor="let organ of organs">{{
                organ.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Número do órgão</mat-label>
            <input matInput type="text" formControlName="organNumber" />
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>UF</mat-label>
            <mat-select formControlName="uf" (selectionChange)="changeUfs()">
              <mat-option [value]="uf.name" *ngFor="let uf of ufs">{{
                uf.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Comarca</mat-label>
            <mat-select
              formControlName="countyId"
              (selectionChange)="changeCounty()"
            >
              <mat-option [value]="county.id" *ngFor="let county of counties">{{
                county.name | titlecase
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Foro</mat-label>
            <mat-select formControlName="forumId">
              <mat-option [value]="forum.id" *ngFor="let forum of forums">{{
                forum.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Instância</mat-label>
            <mat-select formControlName="instance">
              <mat-option
                [value]="instance"
                *ngFor="let instance of instanceTypes"
                >{{ instance | titlecase }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Número Antigo do Processo</mat-label>
            <input matInput type="text" formControlName="oldCaseNumber" />
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Número do processo</mat-label>
            <input matInput type="text" formControlName="caseNumber" />
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Advogado responsável</mat-label>
            <mat-select formControlName="insideLawyerId">
              <mat-option
                [value]="user.id"
                *ngFor="let user of insideLaywers"
                >{{ user.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Assunto</mat-label>
            <mat-select formControlName="subjectId">
              <mat-option
                [value]="subject.id"
                *ngFor="let subject of subjects"
                >{{ subject.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Tipo de ação</mat-label>
            <mat-select formControlName="actionTypeId">
              <mat-option
                [value]="action.id"
                *ngFor="let action of actionTypes"
                >{{ action.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Sub área do direito</mat-label>
            <mat-select
              [placeholder]="'Language'"
              formControlName="lawSubAreaId"
            >
              <mat-option
                [value]="subarea.id"
                *ngFor="let subarea of lawSubAreas"
                >{{ subarea.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Objeto</mat-label>
            <mat-select
              formControlName="objectId"
              (selectionChange)="changeObject()"
            >
              <mat-option [value]="obj.id" *ngFor="let obj of objects">{{
                obj.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Sub objeto</mat-label>
            <mat-select formControlName="subObjectId">
              <mat-option [value]="obj.id" *ngFor="let obj of subObjects">{{
                obj.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col items-center justify-start">
          <mat-label
            class="font-medium"
            style="
              color: rgba(
                var(--fuse-text-default-rgb),
                var(--tw-text-opacity)
              ) !important;
            "
            >Processo eletrônico</mat-label
          >
          <mat-radio-group color="primary" formControlName="isEletronic">
            <mat-radio-button
              [value]="eletronic.value"
              *ngFor="let eletronic of isEletronicTypes"
              >{{ eletronic.label }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="flex flex-col" *ngIf="form.get('isEletronic').value">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Sistema eletrônico</mat-label>
            <mat-select formControlName="eletronicSystemId">
              <mat-option [value]="es.id" *ngFor="let es of eletronicSystems">{{
                es.name | titlecase
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      class="xl:col-span-2 flex flex-col flex-auto bg-card shadow sm:rounded-2xl overflow-hidden px-5 py-3 sm:m-5"
    >
      <label class="text-primary-600 font-semibold">Dados do cliente</label>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Cliente</mat-label>
            <mat-select
              formControlName="clientId"
              (selectionChange)="changeClient()"
            >
              <mat-option [value]="client.id" *ngFor="let client of clients">{{
                client.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Nome</mat-label>
            <mat-select formControlName="stakeholderId">
              <mat-option
                [value]="stakeholder.id"
                *ngFor="let stakeholder of stakeholders"
                >{{ stakeholder.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Posição</mat-label>
            <mat-select formControlName="stakeholderPosition">
              <mat-option
                [value]="position"
                *ngFor="let position of positions"
                >{{ position }}</mat-option
              >,
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div
      class="xl:col-span-2 flex flex-col flex-auto bg-card shadow sm:rounded-2xl overflow-hidden px-5 py-3 sm:m-5"
    >
      <label class="text-primary-600 font-semibold"
        >Dados da parte adversa</label
      >
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
        <ng-container formGroupName="adverseStakeholder">
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Nome</mat-label>
              <input
                matInput
                type="text"
                formControlName="name"
                [matAutocomplete]="auto"
                (change)="adverseSelected()"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="adverseSelected()"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option.name"
                >
                  {{ option.name + ' - ' + option.cpfCnpj }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Tipo </mat-label>
              <mat-select formControlName="type">
                <mat-option [value]="type" *ngFor="let type of personTypes">{{
                  formService.personType(type)
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>CPF/CNPJ</mat-label>
              <input
                matInput
                type="text"
                formControlName="cpfCnpj"
                [mask]="mask"
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Telefone</mat-label>
              <input
                matInput
                type="text"
                formControlName="phone"
                mask="(00)-00000-0000"
              />
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>E-mail</mat-label>
              <input matInput type="text" formControlName="email" />
            </mat-form-field>
          </div>
        </ng-container>
        <div class="flex flex-col">
          <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-label>Posição</mat-label>
            <mat-select formControlName="adversePosition">
              <mat-option
                [value]="position"
                *ngFor="let position of positions"
                >{{ position }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <ng-container formGroupName="adverseLawyer">
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>UF OAB</mat-label>
              <mat-select
                formControlName="ufOab"
                (selectionChange)="changedUfOab()"
              >
                <mat-option [value]="uf.name" *ngFor="let uf of ufs">{{
                  uf.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Nome</mat-label>
              <mat-select
                formControlName="name"
                (selectionChange)="changedLawyerOabAdverse()"
              >
                <mat-option
                  [value]="adLawyer.name"
                  *ngFor="let adLawyer of adverseLawyers"
                >
                  {{ adLawyer.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>OAB </mat-label>
              <input matInput type="text" formControlName="oab" />
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </div>
    <div
      class="xl:col-span-2 flex flex-col flex-auto bg-card shadow sm:rounded-2xl overflow-hidden px-5 py-3 sm:m-5"
    >
      <label class="text-primary-600 font-semibold">Outros</label>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-4">
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Data da distribuição</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="distributionDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error ga-form-field-errors></mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Data da citação</mat-label>
            <input
              matInput
              [matDatepicker]="quotePicker"
              formControlName="quoteDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="quotePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #quotePicker></mat-datepicker>
            <mat-error ga-form-field-errors></mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-label>Valor da causa</mat-label>
            <input
              matInput
              type="text"
              formControlName="causeValue"
              prefix="R$ "
              mask="separator.2"
              thousandSeparator="."
              decimalMarker=","
            />
          </mat-form-field>
        </div>
      </div>
      <div class="grid grid-cols-1 w-full min-w-0">
        <div class="flex flex-col">
          <mat-form-field class="flex-auto">
            <mat-label>Breve relato</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              [cdkAutosizeMinRows]="2"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center my-5">
      <button mat-stroked-button type="button" [routerLink]="'/processos'">
        Cancelar
      </button>
      <button
        class="ml-4"
        mat-flat-button
        type="button"
        [color]="'primary'"
        (click)="onSubmit()"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
