<div class="flex flex-col flex-auto min-w-0">
  <header-content
    [titleIcon]="infoPage.icon"
    [title]="infoPage.title"
    [desc]="infoPage.description"
    [descIcon]="infoPage.descIcon"
  >
    <div content class="text-end">
      <button
        class="bg-white"
        mat-stroked-button
        color="primary"
        routerLink="/users/permissions/new"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'heroicons_solid:key'"
        ></mat-icon>
        <span class="ml-2">Nova Permissão</span>
      </button>
    </div>
  </header-content>
  <div
    class="flex-auto border-t pt-4 sm:pt-6 bg-card shadow sm:rounded-2xl sm:m-10"
  >
    <router-outlet></router-outlet>
  </div>
</div>
