<div class="flex flex-col items-start w-full">
  <ng-container *ngIf="!file">
    <ngx-file-drop
      class="upload"
      dropZoneLabel="Clique ou arraste o arquivo"
      (onFileDrop)="fileDrop($event)"
      (onFileOver)="fileOver($event)"
      (onFileLeave)="fileLeave($event)"
      [dropZoneClassName]="'file-content'"
      [browseBtnClassName]="'btn'"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <button type="button" (click)="openFileSelector()">
          Clique ou arraste um arquivo
        </button>
      </ng-template>
    </ngx-file-drop>
  </ng-container>
</div>
<ng-container *ngIf="file">
  <div class="flex flex-col items-center">
    <upload-file-card
      [uploadType]="uploadType"
      (onClose)="removeFile()"
    ></upload-file-card>
  </div>
</ng-container>
