<mat-accordion>
  <mat-expansion-panel [expanded]="isExpandable">
    <mat-expansion-panel-header class="header-center">
      <mat-panel-title class="flex flex-center justify-between">
        <p class="text-primary-600 font-bold">{{ title }}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="px-8 py-3">
      <ng-container *ngIf="searchType == 'process'">
        <common-process-fields
          [displayControls]="displayControls"
        ></common-process-fields>
      </ng-container>
      <ng-container *ngIf="searchType == 'deadline'">
        <search-deadline [displayControls]="displayControls"></search-deadline>
      </ng-container>
      <div class="flex items-center justify-end">
        <button
          *ngIf="hasFilterBtn"
          mat-flat-button
          type="button"
          [color]="'primary'"
          (click)="sendFilters()"
        >
          {{ filterBtnText }}
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
