.table {
  width: 100%;
}

.mat-column-name {
  width: 1rem;
  font-size: 1rem;
}

.description-title{
  font-style:normal !important;
  font-size: 1rem;
}

.mat-column-description {
  font-style: italic;
}

.mat-column-action {
  width: 1rem;
}