<gl-dialog
  [title]="'Encerrar processo'"
  [isDisableClose]="false"
  (emitClick)="btnClicked($event)"
  [hasBtn]="data.isEdit ? false : true"

>
  <ng-container body>
    <form [formGroup]="form">
      <div class="flex flex-col">
        <div class="grid w-full">
          <div class="grid grid-cols-1">
            <p>Poderá ser encerrado ?</p>
            <mat-radio-group
              formControlName="canBeEndded"
              [ngClass]="{ 'readonly-radio-group': isReadOnly }"
            >
              <mat-radio-button [value]="true">Sim</mat-radio-button>
              <mat-radio-button [value]="false">Não</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="grid grid-cols-1 mt-4">
            <p>Aguarda autorização para encerramento ?</p>
            <mat-radio-group
              formControlName="waitToAuthorizaded"
              [ngClass]="{ 'readonly-radio-group': isReadOnly }"
            >
              <mat-radio-button [value]="true">Sim</mat-radio-button>
              <mat-radio-button [value]="false">Não</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
            <div class="flex flex-col">
              <mat-form-field
                class="flex-auto gt-xs:pl-3"
                [ngClass]="{ 'readonly-radio-group': isReadOnly }"
              >
                <mat-label>Tipo encerramento</mat-label>
                <mat-select formControlName="type">
                  <mat-option [value]="opt" *ngFor="let opt of types">{{
                    opt
                  }}</mat-option>
                </mat-select>
                <mat-error ga-form-field-errors></mat-error>
              </mat-form-field>
            </div>
            <div class="flex flex-col">
              <mat-form-field class="flex-auto gt-xs:pl-3">
                <mat-label>Data</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  readonly
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                  [ngClass]="{ 'readonly-radio-group': isReadOnly }"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error ga-form-field-errors></mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 mt-4">
            <mat-form-field
              class="w-full"
              [ngClass]="{ 'readonly-radio-group': isReadOnly }"
            >
              <mat-label>Observação </mat-label>
              <textarea matInput formControlName="observation"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</gl-dialog>
