/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.bg-excell {
  background-color:#008739 !important;
}

.theme-default .light .mat-mdc-snack-bar-container, .theme-default.light .mat-mdc-snack-bar-container {
  &.success {
    --mdc-snackbar-supporting-text-size:#000;
    --mdc-snackbar-container-color: #e0ffe5;
    --mat-mdc-snack-bar-button-color: #000
    --mdc-snackbar-supporting-text-color: #9999;
    --mdc-snackbar-text-color:#000;
    --mdc-snackbar-supporting-text-color: #3d3d3d;
    --mdc-snackbar-border-color:#9999
    border: 1px solid #00c334 !important;
    border-radius: 5px;
  }

}

.theme-default .light .mat-mdc-snack-bar-container, .theme-default.light .mat-mdc-snack-bar-container {
  &.warning {
    --mdc-snackbar-supporting-text-size:#000;
    --mdc-snackbar-container-color: #fffde0;
    --mat-mdc-snack-bar-button-color: #000
    --mdc-snackbar-supporting-text-color: #9999;
    --mdc-snackbar-text-color:#000;
    --mdc-snackbar-supporting-text-color: #3d3d3d;
    --mdc-snackbar-border-color:#9999
    border: 1px solid #c0c300 !important;
    border-radius: 5px;
  }
}

.theme-default .light .mat-mdc-snack-bar-container, .theme-default.light .mat-mdc-snack-bar-container {
  &.danger {
    --mdc-snackbar-container-color: #ffe0e0;
    
    --mdc-snackbar-text-color:#000;
    --mdc-snackbar-supporting-text-color: #3d3d3d;
    --mdc-snackbar-container-border: #ff0000 !important;
    //--mdc-snackbar-border-color:#c30000;
   
  }
}

.mat-button-toggle {
  border-radius: 9999px;
  overflow: hidden;
  border: none !important;
  font-weight: 500;
  
  &.mat-button-toggle-checked {
    @apply  shadow bg-accent-500 #{!important};
    
    .mat-button-toggle-label-content {
      span {
        @apply  text-white #{'!important'};
        font-weight: 600;
        font-size: 13px !important;
      }
         // @apply text-default #{'!important'};
      }
  }

  .mat-button-toggle-label-content {
      padding: 0 20px;
      line-height: 40px !important;
      @apply text-secondary;
  }
}