<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto sm:px-8 min-w-0 sm:my-1 flex-auto">
      <div class="flex justify-between py-5 px-7 ">
        <div class="grid gap-4 content-between">
          <div>
            <gl-breadcrumb></gl-breadcrumb>
          </div>
          <div >
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
              Processos
            </h2>
          </div>
          <div>
            <button class="bg-gray-300"  mat-flat-button type="button" changeCore>
              Núcleo: <span>{{coreName}}</span>
            </button>
          </div>
        </div>
        <div class="grid gap-4 content-end">
          <button class="ml-4 " mat-flat-button type="button" [color]="'primary'"
            *ngIf="this.route.url === '/processos/list'" routerLink="/processos/new">
            Criar Processo
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main -->
  <div class="flex-auto border-t">
    <router-outlet></router-outlet>
  </div>
</div>