<div class="flex flex-col flex-auto p-3 md:p-5">
  <div class="flex items-center justify-between sticky top-0 bg-white z-10">
    <p class="font-semibold text-gray-600 text-xl">{{text}}</p>
    <div class="flex items-center ">
      <!-- More menu -->
      <button mat-icon-button [matMenuTriggerFor]="moreMenu" *ngIf="uploadFile">
        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item (click)="removeFile()">
          <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
          <span>Remover</span>
        </button>
      </mat-menu>
      <a mat-icon-button (click)="clickCloseIcon()">
        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </a>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-5">
    <gl-upload-file
      (changedFile)="changeFile($event)"
      [hasCloseBtn]="true"
      [uploadType]="fileType.type"
      [noDownload]="true"
    ></gl-upload-file>
  </div>

  <form [formGroup]="form">
    <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Processo</mat-label>
          <mat-select formControlName="processNumber">
            <mat-option
              [value]="item.number"
              *ngFor="let item of processWithResources"
            >
              {{ item.number }}
            </mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Classificação</mat-label>
          <mat-select formControlName="fileClassificationId">
            <mat-option [value]="item.id" *ngFor="let item of classifications">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-label>Data</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            readonly
            formControlName="createAt"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error ga-form-field-errors></mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Actions -->
    <div class="grid grid-cols-1 gap-4 w-full mt-4 items-center">
      <button
        class="flex-auto"
        mat-flat-button
        [color]="'primary'"
        [disabled]="!form.valid || isLoading"
        (click)="send()"  
      >
        Adicionar
      </button>
    </div>
  </form>
</div>
