<div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden">
  <div
    class="flex shrink-0 items-center sm:mt-0 py-8 px-6 md:px-6 justify-between"
  >
    <!-- Search -->
    <mat-form-field
      class="fuse-mat-dense fuse-mat-rounded min-w-64"
      [subscriptSizing]="'dynamic'"
    >
      <mat-icon
        class="icon-size-5"
        matPrefix
        [svgIcon]="'heroicons_solid:search'"
      ></mat-icon>
      <input
        matInput
        [autocomplete]="'off'"
        [placeholder]="'Buscar'"
        [formControl]="searchInputControl"
      />
    </mat-form-field>
    <!-- Add product button -->
    <button
      class="ml-4"
      mat-flat-button
      [color]="'primary'"
      (click)="open()"
      *hasPermission="'create-ProcessGuarantee'"
    >
      <span class="ml-2 mr-1">Adicionar apenso</span>
    </button>
  </div>
  <div
    class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden mx-6"
  >
    <div class="overflow-x-auto mx-6" style="padding: 20px">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="processNumber">
          <th mat-header-cell *matHeaderCellDef>Número do processo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.caseNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="uf">
          <th mat-header-cell *matHeaderCellDef>UF</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Forum?.County?.uf }}
          </td>
        </ng-container>

        <ng-container matColumnDef="county">
          <th mat-header-cell *matHeaderCellDef>Comarca</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Forum?.County?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="organ">
          <th mat-header-cell *matHeaderCellDef>Orgão</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Organ?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="adverseStakeholder">
          <th mat-header-cell *matHeaderCellDef>Parte adversa</th>
          <td mat-cell *matCellDef="let element">
            {{ element.AdverseStakeholder?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Stakeholder?.Client?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="text-end">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="goTo(element)">
                <mat-icon
                  class="icon-size-4 text-gray-600"
                  [svgIcon]="'heroicons_outline:doc-detail'"
                ></mat-icon>
                <span>Ver processo</span>
              </button>
              <button mat-menu-item (click)="removeDialog(element)">
                <mat-icon
                  class="icon-size-4 text-gray-600"
                  svgIcon="remove_circle_outline"
                ></mat-icon>
                <span>Remover</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[12, 24, 36]"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </div>
</div>

