<gl-dialog
  [title]="dialogTitle"
  [isDisableClose]="true"
  (emitClick)="btnClicked($event)"
>
  <ng-container body>
    <div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
      <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden pt-4">
        <form [formGroup]="form" formUtility>
          <div class="grid w-full">
            <div class="flex flex-col">
              <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Processo</mat-label>
                  <mat-select formControlName="processNumber">
                    <mat-option
                      [value]="item"
                      *ngFor="let item of processWithResources"
                    >
                      {{ item.name }} - {{ item.number }}
                    </mat-option>
                  </mat-select>
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="flex flex-col">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Tipo</mat-label>
                  <mat-select
                    formControlName="type"
                    (selectionChange)="changeType()"
                  >
                    <mat-option [value]="type.id" *ngFor="let type of types">{{
                      type.label
                    }}</mat-option>
                  </mat-select>
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Subtipo</mat-label>
                  <mat-select formControlName="subtype">
                    <mat-option [value]="opt.id" *ngFor="let opt of subTypes">{{
                      opt?.label
                    }}</mat-option>
                  </mat-select>
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
              <div class="flex flex-col">
                <mat-form-field class="flex-auto gt-xs:pl-3">
                  <mat-label>Responsável</mat-label>
                  <mat-select formControlName="manager">
                    <mat-option
                      [value]="lawyer.id"
                      *ngFor="let lawyer of laywers"
                      >{{ lawyer.name }}</mat-option
                    >
                  </mat-select>
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
            </div>
            <div
              class="grid grid-cols-1 gap-4"
              [class.md:grid-cols-2]="isDeadline || isAudience ? true : false"
            >
              <div class="flex flex-col">
                <mat-form-field class="w-full">
                  <mat-label>Prazo interno</mat-label>
                  <input
                    matInput
                    type="date"
                    formControlName="internDeadline"
                    (blur)="getInternErrorMessage()"
                  />
                  <mat-error>{{ internDateMessage }}</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col" *ngIf="isDeadline">
                <mat-form-field class="w-full">
                  <mat-label>Prazo crítico</mat-label>
                  <input
                    matInput
                    type="date"
                    formControlName="criticalDeadline"
                    (blur)="getInternErrorMessage()"
                  />
                  <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
              </div>
              <div class="flex flex-col" *ngIf="isAudience">
                <mat-form-field class="w-full">
                  <mat-label>Hora</mat-label>
                  <input matInput type="time" formControlName="hour" />
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="flex flex-col">
                <mat-form-field class="w-full">
                  <mat-label>Local</mat-label>
                  <input matInput type="text" formControlName="local" />
                </mat-form-field>
              </div>
              <div class="flex flex-col">
                <mat-form-field class="w-full">
                  <mat-label>Anotações</mat-label>
                  <input matInput type="text" formControlName="note" />
                  <mat-error ga-form-field-errors></mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</gl-dialog>
