<div class="flex flex-col flex-auto min-w-0">
  <header-content
    [titleIcon]="infoPage.icon"
    [title]="infoPage.title"
    [desc]="infoPage.description"
    [descIcon]="infoPage.descIcon"
  >
    <div content class="text-end">
      <button
        class="bg-white"
        mat-stroked-button
        color="primary"
        routerLink="/users/permissions"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'heroicons_solid:key'"
        ></mat-icon>
        <span class="ml-2">Permissões</span>
      </button>
    </div>
  </header-content>

  <div
    class="flex-auto border-t pt-4 sm:pt-6 bg-card shadow sm:rounded-2xl sm:m-10"
  >
    <div class="w-full max-w-screen-xl mx-auto">
      <ng-container *ngFor="let member of members">
        <div class="flex flex-row sm:items-center py-4 px-3">
          <div class="flex items-center">
            <div
              class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden"
            >
              <ng-container *ngIf="member.avatar">
                <img
                  class="object-cover w-full h-full"
                  [src]="member.avatar"
                  alt="Contact avatar"
                />
              </ng-container>
              <ng-container *ngIf="!member.avatar">
                <div
                  class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                >
                  {{ member.name.charAt(0) }}
                </div>
              </ng-container>
            </div>
            <div class="ml-4">
              <div class="font-medium">{{ member.name }}</div>
              <div class="text-secondary">{{ member.email }}</div>
            </div>
          </div>
          <div class="flex items-center mt-4 sm:mt-0 ml-auto">
            <button mat-icon-button>
              <mat-icon
                class="text-hint"
                [svgIcon]="'heroicons_outline:arrow-circle-right'"
              ></mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <mat-paginator> </mat-paginator>
    </div>
   
  </div>
</div>

<ng-template #toPermissionsBtn>
  <div class="text-end">
    <button
      class="bg-white"
      mat-stroked-button
      color="primary"
      routerLink="/users/permissions"
    >
      <mat-icon
        class="icon-size-5"
        [svgIcon]="'heroicons_solid:key'"
      ></mat-icon>
      <span class="ml-2">Permissões</span>
    </button>
  </div>
</ng-template>

<ng-template #toNewPermissionBtn>
  <div class="text-end">
    <button
      class="bg-white"
      mat-stroked-button
      color="primary"
      routerLink="/users/permissions/new"
    >
      <mat-icon
        class="icon-size-5"
        [svgIcon]="'heroicons_solid:key'"
      ></mat-icon>
      <span class="ml-2">Nova Permissão</span>
    </button>
  </div>
</ng-template>
