<div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
  <header-content
    titleIcon="heroicons_outline:collection"
    title="Processos"
    desc="Listagem de processos vinculados ao núcleo selecionado"
    descIcon="heroicons_outline:archive"
    hasCoreBtn="true"
  >
    <div content class="text-end">
      <button
        item
        class="bg-white"
        mat-stroked-button
        color="primary"
        routerLink="/processos/new"
        *hasPermission="'create-Process'"
      >
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'heroicons_solid:archive'"
        ></mat-icon>
        <span class="ml-2">Criar Processo</span>
      </button>
    </div>
  </header-content>
  <search-process
    [title]="'Filtrar'"
    [isExpandable]="true"
    (emitSearchList)="searchList($event)"
    [searchType]="'process'"
    [displayControls]="['processStatus', 'insideLawyerId', 'rangeDate']"
    [hasFilterBtn]="true"
  ></search-process>
  <process-table [filter]="processParams"></process-table>
</div>
