<!-- Avatar and actions -->
<div class="flex flex-auto items-end -mt-16">
  <!-- Avatar -->
  <div
    class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card bg-gray-100 z-10"
  >
    <mat-icon
      class="w-32 h-32 text-gray-200 z-0"
      [svgIcon]="'heroicons_outline:user'"
    ></mat-icon>
  </div>
  <!-- Actions -->
  <div class="flex items-center ml-auto mb-1">
    <button mat-stroked-button>
      <mat-icon
        class="icon-size-5"
        [svgIcon]="'heroicons_solid:pencil-alt'"
      ></mat-icon>
      <span class="ml-2">Editar</span>
    </button>
  </div>
</div>
<!-- Name -->
<div class="mt-3 text-4xl font-bold truncate">Philipe Amorim</div>
<div class="flex flex-wrap items-center mt-2">
  <!-- Tag -->

  <div
    class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
  >
    <span class="text-sm font-medium whitespace-nowrap"> Admin</span>
  </div>
</div>
<div class="flex sm:items-center mt-4">
  <mat-icon [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
  <div class="ml-6 leading-6">OAB: 79458749</div>
</div>
<!-- Emails -->
<div class="flex flex-col mt-4 pt-6 border-t space-y-8">
  <div class="flex">
    <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
    <div class="min-w-0 ml-6 space-y-1">
      <div class="flex items-center leading-6">
        <a
          class="hover:underline text-primary-500"
          [href]="'mailto:' + 'philipe.lopes07@gmail.com'"
          target="_blank"
        >
          philipe.lopes07@gmail.com
        </a>
      </div>
    </div>
  </div>
</div>
<div class="flex sm:items-center mt-4">
  <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
  <div class="ml-6 leading-6">Conde de bonfim 545, apto 803, Tijuca - Rio de Janeiro / RJ</div>
</div>
<div class="flex sm:items-center mt-4">
  <mat-icon [svgIcon]="'heroicons_outline:cake'"></mat-icon>
  <div class="ml-6 leading-6">{{'02-13-1990' | date:'longDate'}}</div>
</div>
<div class="flex mt-4">
  <mat-icon [svgIcon]="'heroicons_outline:menu-alt-2'"></mat-icon>
  <div
      class="max-w-none ml-6 prose prose-sm"
      [innerHTML]="'Teste de informação'"></div>
</div>
