<div class="border rounded-2xl mt-5">
  <form class="flex flex-col m-5" [formGroup]="form">
    <div class="grid w-full mb-5">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
        <div class="flex flex-col">
          <mat-form-field class="w-full">
            <mat-select
              placeholder="Selecione os núcleos"
              formControlName="coreId"
              multiple
              (selectionChange)="selectChange($event)"
            >
              <mat-option *ngFor="let core of cores" [value]="core.id">
                {{ core.name }}
              </mat-option>
            </mat-select>
            <mat-error ga-form-field-errors></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <button
        class="px-8"
        mat-flat-button
        [color]="'primary'"
        [disabled]="!form.valid"
        type="button"
        matStepperNext
        (click)="save()"
      >
        Próximo
      </button>
    </div>
  </form>
</div>
