    <div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
        <header-content
        [titleIcon]="'heroicons_outline:clipboard-check'"
        [title]="'Agendamentos'"
        desc='Gerencie agendamentos de processos do núcleo atual'
        descIcon='heroicons_outline:document-text'
        >
        </header-content>
        <!-- TODO: Copiar componente de agendamento de processos para esta -->
        <!-- <app-process-progress></app-process-progress> -->
    </div>
