<gl-dialog
  [title]="'Cadastro'"
  [isDisableClose]="true"
  (emitClick)="btnClicked($event)"
>
  <ng-container body>
    <form [formGroup]="form" class="flex flex-col mt-5">
      <div class="grid w-full">
        <div class="grid grid-cols-1 gap-4">
          <div class="flex flex-col">
            <mat-form-field class="w-full">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" />
              <mat-error ga-form-field-errors></mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex flex-col">
            <mat-form-field class="flex-auto gt-xs:pl-3">
              <mat-label>Posição</mat-label>
              <mat-select formControlName="position">
                <mat-option [value]="opt" *ngFor="let opt of positions">{{
                  opt
                }}</mat-option>
              </mat-select>
              <mat-error ga-form-field-errors></mat-error>
            </mat-form-field>
          </div>
          <div class="flex flex-col text-center">
            <mat-label class="label">Tipo</mat-label>
            <mat-radio-group color="primary" formControlName="personType">
              <mat-radio-button
                *ngFor="let type of personType"
                [value]="type"
                >{{
                  type.charAt(0).toUpperCase() + type.slice(1).toLowerCase()
                }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</gl-dialog>
