<div class="inset-0 flex flex-col min-w-0 overflow-hidden w-full">
  <div class="bg-card">
    <div class="flex flex-col w-full mx-auto sm:px-10 min-w-0 sm:my-1 flex-auto">
      <div class="flex justify-between py-5 px-7 ">
        <div class="grid gap-4 content-between">
          <div>
            <gl-breadcrumb></gl-breadcrumb>
          </div>
          <div>
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
              Processos
            </h2>
          </div>
          <div>
            <button class="bg-gray-300" mat-flat-button type="button" changeCore>
              Núcleo: <span>{{coreName}}</span>
            </button>
          </div>
        </div>
        <div class="grid gap-4 content-end">
          <button class="ml-4 " mat-flat-button type="button" [color]="'primary'" routerLink="/processos/new">
            Criar Processo
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden sm:pt-4 h-96">
    <div class="overflow-x-auto md:mx-0 sm:mx-2">
      <table class="w-full rounded-md shadow-md" mat-table matSort [dataSource]="recentTransactionsDataSource"
        [trackBy]="trackByFn" #recentTransactionsTable>

        <ng-container matColumnDef="caseNumber">
          <th mat-header-cell mat-sort-header *matHeaderCellDef class="shadow-md">
            Número do Processo
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide">
              {{process.caseNumber}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="oldCaseNumber">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Número Antigo do Processo
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide">
              {{process.oldCaseNumber}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="lawyer">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Advogado Responsável
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide">
              {{process.lawyer}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="distributionDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Data da distribuição
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center  px-2.5 py-0.5 rounded-full tracking-wide">
              <span class="leading-relaxed whitespace-nowrap">{{process.distributionDate | date:'dd/MM/yyyy'}}</span>
            </span>
          </td>

        </ng-container>

        <ng-container matColumnDef="quoteDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Data da citação
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide ">
              <span class="leading-relaxed whitespace-nowrap">{{process.quoteDate | date:'dd/MM/yyyy'}}</span>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="instance">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Instância
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide">
              <span class="leading-relaxed whitespace-nowrap">{{process.instance}}</span>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="causeValue">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Valor da causa
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center  px-2.5 py-0.5 rounded-full tracking-wide uppercase">
              <span class="leading-relaxed whitespace-nowrap">{{process.causeValue |
                currency:'BRL':symbol:'1.2-2'}}</span>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>
            Assunto
          </th>
          <td mat-cell *matCellDef="let process">
            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full tracking-wide ">
              {{process.subject}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>

          </th>
          <td mat-cell *matCellDef="let process">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="toDetail(process)">
                <mat-icon class="icon-size-4 text-gray-600" svgIcon="library_books"></mat-icon>
                <span>Detalhes</span>
              </button>
              <button mat-menu-item (click)="editProcess(process)">
                <mat-icon class="icon-size-4 text-gray-600" svgIcon="edit"></mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="removeProcessDialog(process)">
                <mat-icon class="icon-size-4 text-gray-600" svgIcon="remove_circle_outline"></mat-icon>
                <span>Remover</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <!-- Footer -->
        <ng-container matColumnDef="recentOrdersTableFooter">
          <td class="py-6 px-0 rounded-md" mat-footer-cell *matFooterCellDef colspan="12">

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
        <tr class="h-16 " mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr>
      </table>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
</div>